# All files needed as a demo - will not push to GH below files if indeed included in gitignore, hence commented out

# 21. Lastly, we need to make sure the Postgres configuration files and the environment variables are not uploaded to the public repository. Using .gitignore, ignore the following files: .env, pg_hba.conf, and postgresql.conf.
# 22. Double-check the files we ignored will not be uploaded to the public repository by running git status.

# .env
# pg_hba.conf
# postgresql.conf